
.banner{
    height: 100vh; 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: $primaryColorBlue;
    padding: 50px;
    @media  (max-width: $breakpointLaptop)  {
        flex-direction: column-reverse;
        justify-content: space-around;
        padding: 99px 47px 11px 20px;
        align-items: flex-start;
  }
  .banner-text{
    opacity: 0;
    transform: translateY(50px);
  }
    p{
        text-shadow: -5px 4px 0px #f278b6cc;
        font-size: calc(55px + (100 - 55) * ((100vw - 300px) / (1600 - 300)));
        font-weight: 900;
        line-height: 150px;
        letter-spacing: 10px;
        font-family: system-ui;
        @media (max-width: $breakpointMobile) {
            letter-spacing: normal;
            line-height: 90px;
        }
    }
    .banner-img{
        max-width: 500px;
        overflow: hidden;
        opacity: 0;
        transform: translateY(50px);
        @media(max-width: $breakpointMobile){
            height: auto;
        }
    }
    img{
        width: 100%;
    }
}





