$primaryColorBlue: #4941e5;
$primaryColorPink: #f178b6;

$textColorWhite: rgb(255, 255, 255);
$textColorBlack: rgb(0, 0, 0);
$colorGrey: rgb(85, 84, 84);

$fontTitle: 'Montserrat Alternates', sans-serif;
$fontText: 'PT Sans', sans-serif;
$fontRoboto: 'Roboto', sans-serif;

$fontsizeLarge: calc(64px + (150 - 64) * ((100vw - 300px) / (1600 - 300)));
$fontsizeTitle: calc(35px + (78 - 35) * ((100vw - 300px) / (1600 - 300)));
$fontsizeSubTitle: calc(24px + (34 - 24) * ((100vw - 300px) / (1600 - 300)));

$breakpointMobile: 480px;
$breakpointTablet: 820px;
$breakpointLaptop: 1024px;
$breakpointDesktop: 1200px;
